.form {
  display: flex;
  flex-direction: column; /* Вытягивание элементов по вертикали */
  max-width: 400px; /* Максимальная ширина формы */
  margin: auto; /* Автоматический отступ по горизонтали */
  padding: 20px; /* Отступы вокруг формы */
  border: 1px solid #ccc; /* Рамка формы */
  border-radius: 5px; /* Скругленные углы */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень формы */
}

label {
  margin-bottom: 5px; /* Небольшой отступ снизу */
  font-weight: bold; /* Жирный текст */
}

input {
  padding: 10px; /* Отступы внутри поля ввода */
  border: 1px solid #ccc; /* Рамка поля ввода */
  border-radius: 4px; /* Скругление углов полей */
  margin-bottom: 15px; /* Отступ между полями ввода */
  outline: none; /* Убираем обводку при фокусе */
  transition: border-color 0.3s; /* Плавный переход цвета рамки */
}

.form input:focus {
  border-color: #007bff; /* Цвет рамки при фокусе */
}

.form span {
  color: red; /* Цвет сообщений об ошибках */
  font-size: 0.8em; /* Размер текста сообщений об ошибках */
}

.form button {
  padding: 10px; /* Отступы внутри кнопки */
  background-color: #007bff; /* Фоновый цвет кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем рамку кнопки */
  border-radius: 4px; /* Скругленные углы кнопки */
  cursor: pointer; /* Курсор при наведении на кнопку */
  transition: background-color 0.3s; /* Плавный переход фона при наведении */
}

.form button:hover {
  background-color: #0056b3; /* Цвет кнопки при наведении */
}
